/*******************************
* Author: Dallas Bleak
* Created: 11/09/2017
********************************/

/*******************************
 * WHOLE PAGE
*******************************/
html {
  min-height: 100%;
  background-color: #fff;
}

body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; 
}

h1 {
  color: #000; 
}


#patch img {
  float: left;
  width: 7%;
  height: auto;
}

/*******************************
 * NAVIGATION
*******************************/
#nav_wrapper ul {
  clear: both;  
  border-radius: 8px;
  background-color: #2058ff;
  font-family: "Arial Black", Gadget, sans-serif;
  list-style-type: none;
  margin: 5px;
  overflow: auto;
  
}

#nav_wrapper li {
  color: #fff;
}

#nav_wrapper li {
  display: inline-block;
}



/*******************************
 * IMAGES
*******************************/
.poster img{
  width: 100%;
  height: auto;
}

img {
  width: 50%;
  height: auto;
}

/*******************************
 * ERROR MESSAGES
*******************************/
.invalidMessage {
  color: red;
  font-weight: bold;
}


/*******************************
 * SECTIONS
*******************************/
#content {
  overflow: auto;
  width: 80%;
  background-color: #d7d7d7;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
}

#para {
  font-size:110%;
}

/*******************************
 * TABLE
*******************************/
table {
    border: 1px solid #000000;
    border-collapse: collapse;
    margin: 0 10px;
}
td, th {
    border: 1px dashed #000000;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

th {
    color: #000000;
    font-size:120%;
}
td {
    color: #000000;
    font-size:105%;
}

/*******************************
 * FORMS
*******************************/
#form {
  margin: 0 5px;
}

#form label, select, option{
  font-size: 105%;
}

/*******************************
 * MOVIE DETAILS
*******************************/
.title h1 {
  display: inline;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 310%;
}
.title h3 {
  display: inline;
}
.userScore h2, h4 {
  display: inline;
}
.overview {
  font-size: 110%;
}
.rate a{
  color: black;
  text-decoration: none;
}
.rate a:hover{
  color: red;
}
.trailer a{
  color: black;
  text-decoration: none;
}
.trailer a:hover{
  color: red;
}
.ratingPopUp {
  display: none;
}

/*******************************
 * GRID
*******************************/
.wrapper {
  display: grid;
  grid-gap: 0 10px;
  grid-template-columns: repeat(3, .25fr);
  grid-auto-rows: minmax(50px, auto);
} 
.poster {
  grid-column: 1;
  grid-row: 1 / 5;
}
.title { 
  grid-column: 2;
  grid-row: 1;
}
.userScore {
  grid-column: 2;
  grid-row: 2;
}
.rate {
  grid-column: 3;
  grid-row: 2;
}
.trailer {
  grid-column: 2;
  grid-row: 3;
}
.overview {
  grid-column: 2 / 4;
  grid-row: 4;
}
/*
.cast {
  grid-column: 2;
  grid-row: 4;
}*/

/*******************************
 * OVERLAY FOR VIDEO TRAILERS
*******************************/
.overlay {  
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s; 
}
.overlay-content {
    position: relative;
    top: 4%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s; 
}
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
}
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
/*******************************
 * BUTONS
*******************************/
.cart_btn {
  background-color: #31a301;
  border-radius: 20px;
  color: #FFF;
  font-size: 110%;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.search_btn {
  background-color: #4b72e6;
  border-radius: 20px;
  color: #FFF;
  font-size: 110%;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.top20_btn {
  background-color: #ff4920;
  border-radius: 20px;
  color: #FFF;
  font-size: 110%;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.cancel_btn {
  background-color: red;
  color: #FFF;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

/*******************************
 * FOOTER
*******************************/
footer {
  clear: both;
  border-radius: 8px;
  background-color: #2058ff;
  height: 40px;
}

#footer_none:hover{
  color: white;
  text-decoration: none;
}

footer ul li {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  color: #fff;
  padding: 10px 10px 5px 10px;
}


/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 2.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > button { 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 